@charset "utf-8";
/* Contents */
#contents .videoback {
    padding: 30px;
}
#contents .videoback h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}
#contents .videoback h5 {
    font-size: 1.125rem;
    font-weight: 500;
}
hr {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 10px 0 24px;
}
#contents .videoback p:nth-child(2) {
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 24px;
}
#contents .videoback a {
    text-decoration: underline;
    color: #ccc;
}

/* ============================================================
    FIXED 모바일 햄버거 메뉴 효과
   ============================================================ */
/* A. 햄버거 메뉴 그리기 */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"]+label {
  display: block;
  width: 56px;
  height: 60px;
  cursor: pointer;
  /* 포지션 위치기준값 */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  /* background: #195730; */
}
input[id="menuicon"]+label span {
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  /* 포지션 */
  position: fixed;
  z-index: 90;
  /* 트랜지션 */
  transition: all 0.3s;
}
input[id="menuicon"]+label span:nth-child(1) {
  left: 16px;
  top: 24px;
}
input[id="menuicon"]+label span:nth-child(2) {
  left: 16px;
  top: 30px;
}
input[id="menuicon"]+label span:nth-child(3) {
  left: 16px;
  top: 34px;
}
/* B. 클릭시 X자 버튼 만들기 */
/* input을 클릭하면 첫번째 햄버거의 위치를 50%로 이동시키고 45도 회전시키세요 */
input[id="menuicon"]:checked +label span:nth-child(1) {
top: 50%;
transform: translateY(-50%) rotate(320deg);
}
input[id="menuicon"]:checked +label span:nth-child(2) {
opacity: 0;
}
input[id="menuicon"]:checked +label span:nth-child(3) {
bottom: 50%;
transform: translateY(50%) rotate(-320deg);
}
/* C. GNB 메뉴 슬라이딩 효과 */
header nav[class="mobile_gnb"] {
  width: 250px;
  height: 100%;
  background: #014841;
  position: fixed;
  left: -258px;
  top: 0;
  z-index: 89;
  transition: all 0.3s;
}
/* 슬라이딩 효과 */
input[id="menuicon"]:checked +label + nav {
  left: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율을 유지하면서 빈 공간 없이 꽉 채우기 */
  object-position: top center; /* 영상의 상단을 기준으로 화면에 맞추기 */
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}